.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container */
#top {
  min-height: 100vh;
  position: relative;
  overflow: scroll;
}

/* Dropdown related styles */
.dropdown-menu {
  top: 80px !important;
}

.dropdown-content {
  background-color: #363636 !important;
}

.dropdown-item {
  color: white;
}

.dropdown-content {
  max-height: 14em;
  overflow: auto;
}

.fa-angle-down {
  color: #485fc7;
}

/* Navbar related styles */
.navbar {
  background-color: #202227;
  background-image: none;
  height: 100px;
  padding-left: 20px !important;
  width: 100%;
}

.navbar-item {
  height: 100%;
}

.navbar-brand {
  height: 100%;
  
}

h1 {
  color: white;
}

/* Mint "Art" */
.content h1{
  color: white !important;
  font-size: 4em;
}

/* Column style */
.columns{
  margin: 0;
  padding: 30px;
  min-height: calc(100vh - 100px);
  color: white;
}

/* Drawing board */
.is-three-fifths {
  height: calc(100vh - 160px);
  position: relative !important;
  display: block;
}

#board {
  background-color: rgb(241, 240, 240);
  /* min-height: 250px; */
  /* max-height: 80vh; */
  height: calc(100vh - 250px);
  border-radius: 5px;
  display: block;
  overflow: hidden;
  position: relative;
  /* transition: all 0.1s ease-out; */
}

#loader {
  height: 100%;
  width: 100%;
  color:transparent;
  position: relative;
  top: 0;
  left: 0;
}

#init {
  width:100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top:0;left:0; 
  z-index: 1;
}

#artframe {
  width:100%;
  height: 100%;
  position: absolute;
  top:0;left:0; 
  z-index: 1;
}

/* Generate button */
#generate {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
}

/* Metamask icon */
#meta {
  height: 20px;
  width: 20px;
}
